*.log
.env
.venv/
data/
__pycache__/
*.pyc
*.pyo
*.pyd

# Coverage
.coverage
coverage.xml
htmlcov/

# Build / packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
**/.___*
**/._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.AppleDB
.AppleDesktop
.apdisk
Icon?
Network Trash Folder
Temporary Items
.com.apple.timemachine.donotpresent
.VolumeIcon.icns
